a {
    color: black;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    background: white;
    border-bottom: black;
}


body {
    background-image: url('/img/bodyBG.png');
}

.canvasPosition {
    display: flex;
    justify-content: center;
    padding-top: 2.5%;
}